body {
    background-image: url("https://cdn.pixabay.com/photo/2022/10/08/17/39/halloween-7507491_960_720.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center right;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    height: 100vh;
}

nav {
    background: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    color: #ff9100;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

.logo {
    font-weight: 700;
}

ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.s1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    flex: 1 0 auto;
}

.s1-cont {
    flex: 0 1 auto;
    color: white;
}

button {
    color: black;
    background: white;
}

.s1-img {
    background-image: url("https://cdn.pixabay.com/photo/2016/06/16/09/34/death-1460981_960_720.png");
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 200px;
    height: 250px;
}


.s2 {
    flex: 1 0 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid black;
    color: white;
    background: #00000080;
}

.img-1 {
    background-image: url("https://images.pexels.com/photos/9966444/pexels-photo-9966444.jpeg?auto=compress&cs=tinysrgb&w=400&lazy=load");
    background-size: cover;
    background-position: center;
}

.img-2 {
    background-image: url("https://images.pexels.com/photos/5545803/pexels-photo-5545803.jpeg?auto=compress&cs=tinysrgb&w=400&lazy=load");
    background-size: cover;
    background-position: bottom;
}

.img-3 {
    background-image: url("https://images.pexels.com/photos/9966363/pexels-photo-9966363.jpeg?auto=compress&cs=tinysrgb&w=400&lazy=load");
    background-size: cover;
    background-position: center;
}

.img-4 {
    background-image: url("https://images.pexels.com/photos/9966440/pexels-photo-9966440.jpeg?auto=compress&cs=tinysrgb&w=400&lazy=load");
    background-size: cover;
    background-position: center;
}

.s2-cont {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.tab div {
    border: 2px solid white;
    width: 150px;
    height: 150px;
    border-radius: 25px;
}

.s3 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex: 1 0 auto;
}

.s3container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 800px;
}

.quote {
    font-size: 25px;
    font-style: light italic;
}

.s4 {
    border: 2px solid black;
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 300px;
    flex: 1 0 150px;
}

.s4container {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 600;
    flex: 1 0 auto;
    border: 2px solid black;
    background: #00000085;
}

.s4tab {
    border: 2px solid white;
    border-radius: 10px;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    width: 600px;
    background-image: url("https://images.pexels.com/photos/5869384/pexels-photo-5869384.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

footer {
    border: 2px solid black;
    background: black;
    color: #ff9100;
    padding: 10px 0;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}